:root {
  --dark-cyan: hsl(158, 36%, 37%);
  --cream: hsl(30, 38%, 92%);
  --very-dark-blue: hsl(212, 21%, 14%);
  --dark-grayish-blue: hsl(228, 12%, 48%);
  --white: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  transition: all 4s;
  background-color: var(--cream);
}

main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  margin-top: 200px;
  height: 600px;
  width: 350px;
  background-color: var(--white);
  border-radius: 8px;
}

.hero-img {
  background-image: url(./images/image-product-mobile.jpg);
  width: 100%;
  height: 50%;
  background-size: contain;
  background-repeat: no-repeat;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.card .content {
  margin: -25px 10px 30px 20px;
  height: 60%;
}

.card span {
  position: top left;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: var(--dark-grayish-blue);
}

.card h1 {
  font-family: "Fraunces", serif;
  margin: 10px 0 20px;
  line-height: 1em;
}

.card p {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 1.4em;
  margin-bottom: 20px;
  color: var(--dark-grayish-blue);
  font-weight: 400;
}

.price {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 20px;
  margin-right: 35px;
}
small {
  margin-left: 70px;
  text-decoration: line-through;
  font-family: "Montserrat", sans-serif;
  color: var(--dark-grayish-blue);
}

.card h2 {
  font-family: "Fraunces", serif;
  color: var(--dark-cyan);
  font-weight: 700;
}

.btn {
  padding: 15px 30px;
  width: 95%;
  background-color: var(--dark-cyan);
  color: var(--white);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  display: flex;
  justify-content: center;
}
.btn:hover{
  background-color: hsl(158, 36%, 22%);
}
.btn img {
  margin-right: 10px;
}

@media screen and (max-width: 350px) {
  .card {
    margin-top: 50px;
    width: 300px;
  }
  .card .content {
    margin: -70px 10px 30px 20px;
    height: 70%;
  }
}
